<h2>Movie Listings:</h2>
<table>
  <tr class="top">
    <td>Available Titles</td>
  </tr>
  <% @movies.each do |title| %>
    <tr>
      <td><a href="/movies/<%= title[:id] %>"><%= title[:title]%></a></td>
    </tr>
  <% end %>
</table>
